::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}

.no-drag {
    user-select: none;
}
.underline {
    text-decoration: underline;
}
.rotate-clockwise {
    transform: rotate(-90deg);
}

/* 진동 효과 */
@keyframes vibrate {
    0% { transform: translateX(0); }
    25% { transform: translateX(-1.5px); }
    50% { transform: translateX(1.5px); }
    75% { transform: translateX(-1.5px); }
    100% { transform: translateX(1.5px); }
  }
  .vibrate {
    display: inline-block;
    animation: vibrate 0.3s infinite;
  }