::-webkit-scrollbar {
  display: none;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#__next {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.container-float-top {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.no-drag {
  user-select: none;
}

.underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.rotate-clockwise {
  transform: rotate(-90deg);
}

#warning-border {
  border-color: #FF0000 !important;
}

/* 진동 효과 */
@keyframes vibrate {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-1.5px);
  }

  50% {
    transform: translateX(1.5px);
  }

  75% {
    transform: translateX(-1.5px);
  }

  100% {
    transform: translateX(1.5px);
  }
}

.vibrate {
  display: inline-block;
  animation: vibrate 0.3s infinite;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in 0.3s ease-out;
}

.fade-out {
  animation: fade-out 0.3s ease-out;
}