.header-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.input-div {
    display: flex;
    border: none;
    margin-top: 6px;
    margin-right: 25px;
}
.search-input {
    outline: none;
    width: 220px;
    height: 30px;
    font-size: 14px;
    padding-left: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    border: none;
}
.img-search {
    position: absolute;
    margin-top: 7px;
    margin-left: 203px;
    color: #111111;
    cursor: pointer;
} 
.user-conatiner {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user-img-span {
    position: absolute;
}
.user-img {
    margin-right: 20px;
    width: 24px;
}
.logIn {
    font-size: 15.5px;
    font-weight: 300;
    margin-left: 32px;
}