.menu-table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-table {
    display: flex;
    width: auto;
    border-collapse: separate;
    border-spacing: 0 25px;
    margin-top: -25px;
    color: #111111;
}

.menu-table tr {
    display: table-row;
}

.menu-table tr td {
    display: table-cell;
    max-width: 250px;
    vertical-align: top;
    align-self: start;
    padding: 0 10.5px;
}

.menu-table tr td:first-child {
    padding-left: 0px;
}

.menu-table tr td:last-child {
    padding-right: 0px;
}

.td-content {
    overflow: hidden;
    border-radius: 8px;
    width: 250px;
    height: 250px;
    margin-bottom: 6px;
}

.recipe-delete-checkbox {
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
    z-index: 1000;
}

.RCP_NM {
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    word-wrap: break-word;
    word-break: break-all;
}

.RCP_PAT2 {
    font-size: 13px;
    color: #5c5c5c;
}